:root {
    --md-code-fg-color: #000; /* Primary code font color set to black */
    --md-code-hl-number-color: #793409; /* Darker shade for numbers */
    --md-code-hl-special-color: #005cc5; /* Darker shade for special */
    --md-code-hl-function-color: #6f42c1; /* Darker shade for functions */
    --md-code-hl-constant-color: #005cc5; /* Darker shade for constants */
    --md-code-hl-keyword-color: #d73a49; /* Darker shade for keywords */
    --md-code-hl-string-color: #04772c; /* Darker shade for strings */
    --md-code-hl-name-color: #22863a; /* Darker shade for names */
    --md-code-hl-operator-color: #380f12; /* Darker shade for operators */
    --md-code-hl-punctuation-color: #24292e; /* Darker shade for punctuation */
    --md-code-hl-comment-color: #636363; /* Darker shade for comments */
    --md-code-hl-generic-color: #005cc5; /* Darker shade for generic */
    --md-code-hl-variable-color: #5b2a04; /* Darker shade for variables */
}

/* Custom styling for code blocks to ensure high contrast */
.md-typeset code,
.md-typeset pre {
    color: var(--md-code-fg-color);
    font-weight: 540;
    font-size: .63rem;
}

.md-typeset .md-code .hljs-number { color: var(--md-code-hl-number-color); }
.md-typeset .md-code .hljs-special { color: var(--md-code-hl-special-color); }
.md-typeset .md-code .hljs-function { color: var(--md-code-hl-function-color); }
.md-typeset .md-code .hljs-constant { color: var(--md-code-hl-constant-color); }
.md-typeset .md-code .hljs-keyword { color: var(--md-code-hl-keyword-color); }
.md-typeset .md-code .hljs-string { color: var(--md-code-hl-string-color); }
.md-typeset .md-code .hljs-name { color: var(--md-code-hl-name-color); }
.md-typeset .md-code .hljs-operator { color: var(--md-code-hl-operator-color); }
.md-typeset .md-code .hljs-punctuation { color: var(--md-code-hl-punctuation-color); }
.md-typeset .md-code .hljs-comment { color: var(--md-code-hl-comment-color); }
.md-typeset .md-code .hljs-generic { color: var(--md-code-hl-generic-color); }
.md-typeset .md-code .hljs-variable { color: var(--md-code-hl-variable-color); }


.md-header__button.md-logo img, .md-header__button.md-logo svg{

    height: 1.5rem;
}
.md-header__title{
    font-size: 0rem;
    /*padding-top: .35rem;  !* Adjust this value as needed *!*/
}
.md-nav__title{
    font-size: 0rem;
}

.md-header {
    background-color: white !important;
    color: black !important; /* This changes the text color in the header to black for visibility */
}
/*.md-header {*/
/*        box-shadow: 0 0 .2rem #0000001a,0 .2rem .4rem #0003;*/
/*    transition: transform .25s cubic-bezier(.1,.7,.1,1),box-shadow .25s;*/
/*    */
/*}*/
/*navigation*/
/* CSS */
.custom-nav .main-item {
  font-weight: bold;
  /* Additional styles for main items */
}

.custom-nav .sub-items {
  font-size: smaller;
  color: grey;
  /* Additional styles for sub-items */
}

/* You may want to add :hover or other pseudo-classes for interactivity */
/* CSS to specifically hide the heading for the __new__ method */
h77 {
  display: none;
}


.md-grid {
  max-width: 100%;
  @media (min-width: 1220px) {
    .md-main__inner {
      margin-top: 0;
      .md-sidebar {
        height: auto;
        .md-sidebar--primary {
          border-right: 0px solid var(--md-default-fg-color--lightest);
          .md-nav {
            font-size: 16px;
          }
        }
      }
    }
  }
}
/* Hide the navigation title */
.md-nav__title .__drawer{
    display: none;
}

/* Set the font weight of the sidebar entries to medium bold */
.md-nav__link {
    font-weight: 700; /* Medium bold weight */
}
/* Set the font color to black for base level nav entries without subentries */


/* Set the font weight of subentries to 400 */
.md-nav__item .md-nav__item .md-nav__link {
    font-weight: 500;
}

body {
  --md-text-link-color: #f83516;
  --md-code-hl-name-color: #ea3e10;
}

.md-nav__link:hover {
  color:#f83516;
}

.md-nav__link--active {
    color: #f83516;
}

/* Change color of the active nav item */
.md-nav--primary .md-nav__item--active > .md-nav__link {
    color: rgba(255, 137, 0, 0.92) !important;  /* DarkOrange */
}

/* Existing styles */
/* Change link color */
a {
    color: rgba(255, 137, 0, 0.92) !important;  /* DarkOrange */
    font-weight: bold;
}

/* Change color of code blocks */
.codehilite .hll {
    background-color: #FF6347 !important;  /* Tomato */
}

/* Change background color to white for the nav title */
.md-nav--primary .md-nav__title[for=__drawer] {
    background-color: white !important;
    color: black !important;  /* Adjust text color as needed */
}
/* Existing styles */

/* Primary color for many elements */
.md-primary {
    background-color: #FF4500 !important;  /* OrangeRed */
    color: #fff !important;  /* White text for contrast */
}

/* Accent color for elements like buttons, active tabs */
.md-accent {
    background-color: #FF6347 !important;  /* Tomato */
    color: #fff !important;  /* White text for contrast */
}

/* Change link color */
a {
    color: rgb(248, 53, 22) !important;  /* DarkOrange */
}

/* Change color of code blocks */
.codehilite .hll {
    background-color: rgb(248, 53, 22) !important;  /* Tomato */
}

/* Change color of the blockquote borders */
.md-typeset blockquote {
    border-left-color: #f83516 !important;  /* OrangeRed */
}

.md-content {
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers the child elements horizontally */
    align-items: start; /* Aligns items to the start of the flex container, preventing vertical stretch */

    line-height: 1.375rem;
    font-weight: 500;
    font-family: FreightSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.md-content__inner {
font-size: 0.7rem;
  max-width: 1000px; /* Your specified maximum width */
  width: 100%; /* Ensures it doesn't exceed the parent container's width */
  /* Optionally, if you decide not to use flexbox on .md-content */
}
/* New styles */

/* Change color of active nav item for better visibility */
.md-nav--primary .md-nav__item--active > .md-nav__link {
    background-color: rgba(255, 255, 255, 0.2) !important;  /* Lighter background */
    color: #000 !important;  /* Black text */
}

/* Change color of standalone nav items with no subnotes */
.md-nav--primary .md-nav__item:not(.md-nav__item--nested) > .md-nav__link {
    color: black !important;  /* Black text */
}
.md-nav__list--nested {
  display: none !important; /* Force hiding nested lists */
}

.md-nav__toggle {
  /* Optionally, style the toggle to indicate that it's not expanded */
  pointer-events: none; /* Disables the ability to click/interact with the toggle */
}
.md-nav__link{
    color: #000000 !important;
  font-weight: 500;
    font-size: .73rem;
}
.md-nav__item .md-nav__item .md-nav__link {
    font-weight: 350;
    font-size: .65rem;
}
/* Reset list style and padding for nav-tabs */
.nav-tabs {
  border-bottom: 2px solid #ddd; /* Add bottom border to entire nav-tab */
  list-style-type: none; /* Remove list bullets */
  padding-left: 0; /* Reset padding */
  display: flex; /* Ensure tabs are in a row */
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

/* Style for individual nav-items */
.nav-item {
  margin-bottom: -1px; /* Align with bottom border */
}

/* General style for nav-links */
.nav-link {
  border: 1px solid transparent; /* Reset borders */
  border-radius: 0.25rem; /* Rounded corners for tabs */
  padding: 0.5rem 1rem; /* Padding inside tabs */
  margin-right: 2px; /* Space between tabs */
  background-color: #f8f9fa; /* Light background color */
  color: #007bff; /* Text color */

}

/* Hover effect for nav-links */
.nav-link:hover {
  border-color: #e2e6ea #e2e6ea #ddd; /* Border color on hover */
  background-color: #e9ecef; /* Background color on hover */
  color: #0056b3; /* Text color on hover */
}

/* Active and focused nav-link styles */
.nav-link.active, .nav-link:focus {
  color: #495057; /* Active/focused text color */
  background-color: #fff; /* Active/focused background color */
  border-color: #dee2e6 #dee2e6 #fff; /* Active/focused border color */
}

/* Remove default focus outline for a cleaner look */
.nav-link:focus {
  box-shadow: none;
}

/* Style adjustments for the tab content */
.tab-content > .tab-pane {
  border-top: 2px solid #dee2e6; /* Border top for content */
  padding-top: 1rem; /* Padding for content inside tab */
}



/* Code blocks */
/* Custom CSS to change background color of code blocks in Material theme */
/* Custom CSS file */
.code-ouput code {
    background-color: rgba(87, 73, 73, 0.02); /* Dark green background */
    color: #606060;
}

.highlight span.filename {
    background-color: rgba(87, 73, 73, 0.09); /* Dark green background */

    padding:  0 14px; /* Tomato */
    margin-top: -0.2rem;
}
/* TABS */

/* Tab style starts here */
.tabbed-alternate {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1em 0;
  border-radius: 0.1rem;
}

.tabbed-alternate > input {
  display: none;
}

.tabbed-labels {
  display: flex;
  width: 100%;
  overflow: auto;
  box-shadow: 0 -0.1rem #ddd inset;
  scrollbar-width: none;
}
.tabbed-labels::-webkit-scrollbar {
  display: none;
}
.tabbed-labels > label {
  width: auto;
  padding: 0.9375em 1.25em 0.78125em;
  font-weight: 700;
  font-size: 0.84em;
  white-space: nowrap;
  border-bottom: 0.1rem solid transparent;
  scroll-snap-align: start;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  cursor: pointer;
  transition: background-color 250ms, color 250ms;
}
.tabbed-labels > label:hover {
  color: red;
}

.tabbed-labels.tabbed-scroll-left::before {
  display: inline-block;
  font-size: 0.9em;
  position: absolute;
  top: 0.75em;
  left: 0;
  padding-right: 0.64em;
  color: gray;
  background: linear-gradient(to right, rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0));
  content: "\25C0";
  cursor: pointer;
}

.tabbed-labels.tabbed-scroll-right::after {
  display: inline-block;
  font-size: 0.9em;
  position: absolute;
  top: 0.75em;
  right: 0;
  padding-left: 0.64em;
  color: gray;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 25%);
  content: "\25B6";
  cursor: pointer;
}

.tabbed-alternate .tabbed-content {
  width: 100%;
}
.tabbed-alternate input:nth-child(1):checked ~ .tabbed-content > :nth-child(1),
.tabbed-alternate input:nth-child(2):checked ~ .tabbed-content > :nth-child(2),
.tabbed-alternate input:nth-child(3):checked ~ .tabbed-content > :nth-child(3) {
  display: block;
}
.tabbed-alternate .tabbed-block {
  display: none;
}
@media print {
  .tabbed-labels {
    display: contents;
  }
  .tabbed-labels > label:nth-child(1) {
    order: 1;
  }
  .tabbed-labels > label:nth-child(2) {
    order: 2;
  }
  .tabbed-labels > label:nth-child(3) {
    order: 3;
  }

  .tabbed-alternate .tabbed-content {
    display: contents;
  }
  .tabbed-alternate .tabbed-block {
    display: block;
  }
  .tabbed-alternate .tabbed-block:nth-child(1) {
    order: 1;
  }
  .tabbed-alternate .tabbed-block:nth-child(2) {
    order: 2;
  }
  .tabbed-alternate .tabbed-block:nth-child(3) {
    order: 3;
  }
}
/* REFERENCES */
