.md-header__button.md-logo img, .md-header__button.md-logo svg{
    width: 1.9rem;
    height: 1.9rem;
}
.md-header__title{
    font-size: 1.18rem;
    padding-top: .35rem;  /* Adjust this value as needed */
}

.md-header {
    background-color: white !important;
    color: black !important; /* This changes the text color in the header to black for visibility */
}

/*.md-grid {*/
/*  max-width: 100%;*/
/*  @media (min-width: 1220px) {*/
/*    .md-main__inner {*/
/*      margin-top: 0;*/
/*      .md-sidebar {*/
/*        height: auto;*/
/*        .md-sidebar--primary {*/
/*          border-right: 1px solid var(--md-default-fg-color--lightest);*/
/*          .md-nav {*/
/*            font-size: 16px;*/
/*          }*/
/*        }*/
/*      }*/
/*    }*/
/*  }*/
/*}*/

body {
  --md-text-link-color: #8CD7F7;
}

.md-nav__link:hover {
  color: #8CD7F7;
}

.md-nav__link--active {
  color: #8CD7F7;
}


/* Primary color for many elements */
.md-primary {
    background-color: #FF4500 !important;  /* OrangeRed */
    color: #fff !important;  /* White text for contrast */
}

/* Accent color for elements like buttons, active tabs */
.md-accent {
    background-color: #FF6347 !important;  /* Tomato */
    color: #fff !important;  /* White text for contrast */
}

/* Change link color */
a {
    color: #FF8C00 !important;  /* DarkOrange */
}

/* Change color of code blocks */
.codehilite .hll {
    background-color: #FF6347 !important;  /* Tomato */
}

/* Change color of the blockquote borders */
.md-typeset blockquote {
    border-left-color: #FF4500 !important;  /* OrangeRed */
}
